/dataSources/
/httpRequests/
/modules/
/shelf/
/sonarlint/

/compiler.xml
/dataSources.local.xml
/discord.xml
/git_toolbox_blame.xml
/git_toolbox_prj.xml
/gradle.xml
/intellij-javadocs-4.0.1.xml
/jarRepositories.xml
/jpa-buddy.xml
/libraries
/misc.xml
/modules.xml
/uiDesigner.xml
/workspace.xml
