/dataSources/
/libraries/
/modules/
/shelf/
/sonarlint/

/atsParkour.iml
/codestream.xml
/compiler.xml
/dataSources.local.xml
/dataSources.xml
/discord.xml
/gradle.xml
/intellij-javadocs-4.0.1.xml
/jarRepositories.xml
/jpa-buddy.xml
/libraries-with-intellij-classes.xml
/sqldialects.xml
/uiDesigner.xml
/workspace.xml
